{% extends 'frontend/base.html' %}
{% load static %}
{% load render_bundle from webpack_loader %}

{% block title %} | About us{% endblock %}
{% block meta_description %}Omicsdatascience brings together experts in genomics, epigenomics, and data science to develop open-source tools, foster collaboration, and drive innovation in cancer research..{% endblock %}


{% block content %}
        <main id="about-us-app"></main>
{% endblock %}

{% block js %}
        {% render_bundle 'aboutUs' 'js' %}
{% endblock %}