{% extends 'frontend/base.html' %}
{% load static %}
{% load render_bundle from webpack_loader %}

{% block title %}| Biomarkers{% endblock %}

{% block css %}
        {% render_bundle 'biomarkers' 'css' %}
{% endblock %}

{% block content %}
        <div id="biomarkers-app"></div>
{% endblock %}

{% block js %}
        <script>
                const urlBiomarkersCRUD = "{% url 'biomarkers_api' %}"
                const urlGeneSymbols = "{% url 'gene_symbols' %}"
                const urlGeneSymbolsFinder = "{% url 'gene_symbols_finder' %}"
                const urlMiRNACodes = "{% url 'mirna_codes' %}"
                const urlMiRNACodesFinder = "{% url 'mirna_codes_finder' %}"
                const urlMethylationSites = "{% url 'methylation_sites' %}"
                const urlMethylationSitesFinder = "{% url 'methylation_sites_finder' %}"
                const urlFeatureSelectionSubmit = "{% url 'feature_selection_submit' %}"
                const urlBiomarkerStatisticalValidations = "{% url 'biomarker_statistical_validations' %}"
                const urlBiomarkerTrainedModels = "{% url 'biomarker_trained_models' %}"
        </script>
        {% render_bundle 'biomarkers' 'js' %}
{% endblock %}