{% extends 'frontend/base.html' %}
{% load static %}
{% load render_bundle from webpack_loader %}

{% block title %}{% endblock %}
{% block meta_description %}Multiomix is a cloud-based multi-omics analysis platform for cancer research. Explore genomic and epigenomic data, collaborate with peers, and unlock actionable insights.{% endblock %}

{% block css %}
        {% render_bundle 'main' 'css' %}
{% endblock %}

{% block content %}
        <main id="main-app"></main>
{% endblock %}

{% block js %}
        {% render_bundle 'main' 'js' %}
{% endblock %}