{% extends 'frontend/base.html' %}
{% load static %}
{% load render_bundle from webpack_loader %}

{% block title %}| My Institutions{% endblock %}

{% block css %}
        {% render_bundle 'institutions' 'css' %}
{% endblock %}

{% block content %}
        <div id="institutions-app"></div>
{% endblock %}

{% block js %}
        <script>
            const urlGetUserInstitutions = "{% url 'user_institutions_list' %}"
            const urlGetUsersCandidates = "{% url 'user_candidates' %}"
            const urlCreateInstitution = "{% url 'create_institution' %}"
            const urlEditInstitution = "{% url 'edit_institution' %}"
            const urlDeleteInstitution = "{% url 'delete-institution' %}"
            const urlEditInstitutionAdmin = "{% url 'update-institution-admin' %}"
            const urlAddRemoveUserToInstitution = "{% url 'add_remove_user_to_institution' %}"
        </script>
        {% render_bundle 'institutions' 'js' %}
{% endblock %}