{% extends 'frontend/base.html' %}
{% load static %}
{% load render_bundle from webpack_loader %}

{% block css %}
        {% render_bundle 'institutions' 'css' %}
{% endblock %}

{% block title %} | Institutions{% endblock %}
{% block meta_description %}Use the Institutions Panel to create and manage research organizations, assign administrative roles, and collaborate on shared multi-omics datasets with your team.{% endblock %}=

{% block content %}
        <main id="institutions-app"></main>
{% endblock %}

{% block js %}
        <script>
            const urlGetUserInstitutions = "{% url 'user_institutions_list' %}"
            const urlGetUsersCandidates = "{% url 'user_candidates' %}"
            const urlCreateInstitution = "{% url 'create_institution' %}"
            const urlEditInstitution = "{% url 'edit_institution' %}"
            const urlDeleteInstitution = "{% url 'delete-institution' %}"
            const urlEditInstitutionAdmin = "{% url 'update-institution-admin' %}"
            const urlNonUserListInstitution = "{% url 'institution-non-users-list' %}"
            const urlAddRemoveUserToInstitution = "{% url 'add_remove_user_to_institution' %}"
        </script>
        {% render_bundle 'institutions' 'js' %}
{% endblock %}