{% extends 'frontend/base.html' %}
{% load static %}
{% load render_bundle from webpack_loader %}

{% block title %} | Login{% endblock %}
{% block meta_description %}Securely log in to Multiomix to access your personalized multi-omics analysis dashboard, manage experiments, and collaborate with your research team.{% endblock %}=

{% block css %}
    {% render_bundle 'login' 'css' %}
{% endblock %}

{% block content %}
        <main id="login-form"></main>
{% endblock %}

{% block js %}
        <script>
                const loginError = "{{ loginError }}"
                const loginWarning = "{{ loginWarning }}"
                const loginSuccess = "{{ loginSuccess }}"
                const urlAuthenticate = "{% url 'authentication' %}"
                const urlCreateUser = "{% url 'create_user' %}"
        </script>
        {% render_bundle 'login' 'js' %}
{% endblock %}