{% extends 'frontend/base.html' %}
{% load static %}
{% load render_bundle from webpack_loader %}

{% block title %} | Open source{% endblock %}
{% block meta_description %}Discover and contribute to Omicsdatascience’s open-source initiatives on GitHub—powerful tools and libraries for multi-omics and cancer research, freely available for the community.{% endblock %}

{% block content %}
        <div id="open-source-app"></div>
{% endblock %}

{% block js %}
        {% render_bundle 'openSource' 'js' %}
{% endblock %}