{% extends 'frontend/base.html' %}
{% load static %}
{% load render_bundle from webpack_loader %}

{% block title %} | Terms and privacy policy{% endblock %}
{% block meta_description %}Review Multiomix’s Site Policy for detailed information on terms of service, data privacy, and security practices that protect your multi-omics research.{% endblock %}=

{% block css %}
        {% render_bundle 'sitePolicy' 'css' %}
{% endblock %}


{% block content %}
        <div id="site-policy-app"></div>
{% endblock %}

{% block js %}
        {% render_bundle 'sitePolicy' 'js' %}
{% endblock %}