.selections-grid-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.selection-step-container {
    min-height: 400px;
}

.selection-select{
    margin: 2rem 0;
}

.selection-step-algorithm {
    display: flex;
    flex-direction: column;
}

.column-fixed-height div.grid {
    min-height: 50vh;
}
