.biomarkers--molecules--container {
    width: 100%;
    overflow-y: scroll;
    height: 32vh;
}
.biomarkers--molecules--container--item {
    display: inline-block;
    margin: 0.5rem;
}
.biomarkers--molecules--container--grid {
    width: 100%;
}
.biomarkers--section--container {
    display: flex;
}