celery==5.3.1
channels-redis==3.1.0
channels==2.4.0
daphne==2.5.0
django-chunked-upload==2.0.0
django-email-verification==0.0.7
django-filter==2.4.0
django-generate-secret-key==1.0.2
django-object-actions==4.1.0
django-querysetsequence==0.16
django-stubs==1.11.0
django-webpack-loader==0.7.0
Django==3.2.20
djangorestframework==3.12.1
drf-writable-nested==0.7.0
ggca==0.4.1
lifelines==0.25.8
mypy-extensions==0.4.3
mypy==0.931
numpy==1.21.6
pandas==1.0.5
psycopg2-binary==2.8.6
pymongo==3.11.0
redis==4.6.0
requests==2.23.0
scikit-survival==0.20.0
scipy==1.8.1
statsmodels==0.14.0
