.alert--container--transition {
    z-index: 1000;
    position: fixed;
    max-height: 0;
    padding: 1rem;
    left: 80%;
    top: 10%;
    width: 100%;
}

.alert--container--alert {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 8px;
    max-width: 250px;
    word-break: break-all;
    padding: 0.5rem;
    box-shadow: 0 0 20px 10px rgb(0, 0, 0, 0.1);
}