.biomarkers--side--bar--box {
    margin: 1rem 0;
}
.biomarkers--confirm--modal {
    margin-top: 40vh !important;
}

.biomarkers--button--modal{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}