.biomarkers--side--bar--box {
    margin: 1rem 0;
}

.biomarkers--side--bar--buttons-group {
    width: 100%;
}

.biomarkers--side--bar--text--area {
    margin: 1rem 0;
    width: 100%;
}

.biomarkers--side--bar--input--selection {
    margin: 0.5rem 0;
    width: 100%;
}

.biomarkers--modal--container {
    height: 100%;
}

.large-modal {
    min-height: 92% !important;
    width: 92% !important;
}

.min-height-50vh {
    min-height: 50vh;
}

.remove-margin-bottom {
    margin-bottom: 0.2% !important;
}
.remove-margin-top {
    margin-top: 0 !important;
}
.space-modal:nth-child(1) {
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;
}