.diff--side--bar--container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.diff--side--bar--container--item--margin {
    margin: 0.5rem 0;
}
.diff--side--container--bar--slider{
    padding: 1rem 0;
}
.diff--side--bar--slider input{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}