.selected {
  background-color: #bdbdbd;
}

.listItem {
  /*background-color: blue;*/
  color: gray;
  box-shadow: 2px 2px 10px lightgray;
  margin-top: 5px !important;
  padding-top: 0px !important;
  border-radius: 5px;
}

.institutionsHeader {
  padding-top: 5px;
  padding-left: 5px;
}

.institutionsShowUsersIcon {
  padding-top: 5px;
}
.institutionsDescription {
  padding-top: 5px;
  padding-left: 5px;
}

.institutionsWrapper {
    min-height: 100%;
    display: flex;
}

.questionIcon {
    margin-right: 0px !important;
}

.headerContent{ width: 100% !important}