.biomarkers--molecules--container {
    max-width: 100%;
    height: 32vh;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
}

.biomarkers--molecules--container--item {
    margin: 0.5rem;
}

.biomarkers--molecules--container--grid {
    width: 100%;
}

.biomarkers--section--container {
    display: flex;
}

.biomarker--section--icon {
    padding: 0 0.5rem;
    cursor: pointer;
}

.biomarker--section--button {
    cursor: default !important;
}

.row-container {
    /*  display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    /* Ajusta los estilos según sea necesario */
}