name: Prod enviroment workflow to build and push docker image
on:
  push:
    branches:
      - "main"
jobs:
  Node-checks:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        node-version: [16.x]

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: NPM install
      run: npm --prefix src/frontend/static/frontend i
    - name: NPM linter checks
      run: npm --prefix src/frontend/static/frontend run check-all  
  docker-multiomix:
    needs: [Node-checks]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Get version for tagging
        run: BASEDIR=$(pwd) ./tools/get_version.sh >> $GITHUB_ENV            
      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          context: .
          push: true
          tags: omicsdatascience/multiomix:${{ env.VERSION }}
  docker-multiomix-celery:
    needs: [Node-checks]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Get version for tagging
        run: BASEDIR=$(pwd) ./tools/get_version.sh >> $GITHUB_ENV            
      - name: Build and push
        uses: docker/build-push-action@v2
        env:
          DOCKER_BUILDKIT: 1        
        with:
          context: .
          push: true
          tags: omicsdatascience/multiomix:${{ env.VERSION }}-celery
  tag-release:
    needs: [docker-multiomix]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Get version for tagging
        run: BASEDIR=$(pwd) ./tools/get_version.sh >> $GITHUB_ENV            
      - name: Create and push tag
        uses: anothrNick/github-tag-action@1.36.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          CUSTOM_TAG: ${{ env.VERSION }}
